/* --- Global Stylings --- */

/* Color Variables */
:root {
  --primary-interactive: #0c395a;
  --primary-background: #0c8ba71c;
  --primary-text: #3f3f3f;
  --primary-interactive-hover: #1a2547;
  --equity-color-procedural: #227C9D;
  --equity-color-structural: #17C3B2;
  --equity-color-distributional: #FFCB77;
  --equity-color-recognitional: #FEB3B1;
  --equity-color-transformational: #FE6D73;
}

/* Reset margins/padding */
body, html { 
    margin: 0; 
    padding: 0; 
    color: var(--primary-text);
}
* { 
    box-sizing: border-box; 
}

 button {
    cursor: pointer;
 }